.header-line {
    background-color: #49B742;
    height: 4px;
    width: 100%;
}

.title-style {
    color: #666666;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.content-bk {
    background-color: #F5F5F5;
}